<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.douding.admin.dao.AdminDao">
   <resultMap type="com.douding.shiro.entity.Permission" id="userAllPermission">
      <id column="permissionId" property="permissionId"/>
      <result column="permissionName" property="permissionName"/>
      <result column="permissionNode" property="permissionNode"/>
      <result column="permissionUrl" property="permissionUrl"/>
   </resultMap>
   <!-- 查询角色所有权限 -->
   <select id="selectRoleAllPermission" resultType="com.douding.shiro.entity.Permission" parameterType="com.douding.shiro.entity.Role">
    select * from tb_permission where permissionId in(
    Select permissionId from tb_role_permission where roleId in (
      select roleId from tb_role where roleName=#{roleName}));
  </select>
   <select id="selectRoles" parameterType="string" resultType="String">
   SELECT r.roleName FROM (SELECT u.userPhone,u_r.rolerId FROM USER AS u  RIGHT JOIN tb_user_role AS u_r ON u.userId=u_r.userId) AS a1 RIGHT JOIN tb_role AS r ON a1.rolerId=r.roleId WHERE a1.userPhone=15091541971
   </select>
 </mapper>